// paper & background
$paper: #070707;

// primary
$primaryPurple: #8384fa;
$primaryPurpleDark: #5e60ce;
$primaryBlue: #4ea8de;
$primaryBlueDark: #1e6f9f;

// base
$baseGray700: #0d0d0d;
$baseGray600: #1a1a1a;
$baseGray500: #262626;
$baseGray400: #333333;
$baseGray300: #808080;
$baseGray200: #d9d9d9;
$baseGray100: #f2f2f2;
$baseDanger: #e25858;

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryPurple: $primaryPurple;
    primaryPurpleDark: $primaryPurpleDark;
    primaryBlue: $primaryBlue;
    primaryBlueDark: $primaryBlueDark;

    // base
    baseGray700: $baseGray700;
    baseGray600: $baseGray600;
    baseGray500: $baseGray500;
    baseGray400: $baseGray400;
    baseGray300: $baseGray300;
    baseGray200: $baseGray200;
    baseGray100: $baseGray100;
    baseDanger: $baseDanger;
}
